<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drum Machine</title>
    <style>
        .checkbox-grid {
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            gap: 10px;
        }
        .checkbox-grid div {
            background-color: #acdcee;
            padding: 10px;
            text-align: center;
        }
        .checkbox-grid div:nth-child(4n+1) {
            background-color: #9C8181;
        }
    </style>
</head>
<body>
<h1>Drum Machine</h1>
<form action="#" th:action="@{/drum/updateCheckbox}" method="post">
    <div class="checkbox-grid">
        <div th:each="i, stat : ${#numbers.sequence(0, 7)}">
            <label th:text="${instrumentNames[i]}"></label>
            <div th:each="j : ${#numbers.sequence(0, 15)}">
                <input type="checkbox" th:checked="${checkboxList[i * 16 + j]}" th:name="checkboxes" th:value="${i * 16 + j}">
            </div>
        </div>
    </div>
    <button type="submit">Update</button>
</form>
<form action="#" th:action="@{/drum/changeTempo}" method="post">
    <button type="submit" name="tempoMultiplier" value="1.03">Tempo Up</button>
    <button type="submit" name="tempoMultiplier" value="0.97">Tempo Down</button>
</form>
</body>
</html>
