/*
.button {
    -fx-font: 14px "Serif";
    -fx-text-fill: black;
    -fx-padding: 2;
    -fx-background-color: #acdcee;

}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0, 0);
}*/
